body {
  background: url('https://res.cloudinary.com/dqucbuno8/image/upload/v1447826196/Counter-Strike-Wallpaper-1920x1080-4_utq3oz.jpg') center top no-repeat #000000;
  color: white;
}

::-webkit-scrollbar {
    background-color: #3a476a;
    width:8px;
}

::-webkit-scrollbar-thumb {
    background-color: #000123;
    border-radius: 10px;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// navbar
nav.navbar {
  background-color: #d45500;
  border: 0px solid black;
  border-radius: 0px;
}

nav.navbar-default .navbar-nav>li>a {
  color: white;
}

.nav-logo {
  margin-top: -8%;
  margin-left: 7%;
}

// splash page
.next-match {
  background-color: rgba(35, 35, 35, .8);
  margin-top: 1%;
  color: white;
  width: 100%;
}

.time-left {
  font-size: 75px;
  font-weight: bold;
  min-height: 85px;
}

.match-info {
  position: relative;
  z-index: -100;
  top: 50px;
}

.vs {
  font-size: 65px;
  font-weight: bold;
}

.prize-pool {
  font-size: 35px;
  font-weight: bold;
}

// teams
.team-idx {
  background-color: rgba(100, 100, 100, .4);
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 2%;
  border: 3px solid black;
  border-radius: 7px;
}

.teams {
  font-size: 25px;
  color: darkorange;
  margin-top: 2%;
}

.teams.team1 {
  float:left;
  margin-left: 2%;
}

.teams.team2 {
  float:right;
  margin-right: 2%;
}

.team-avatar {
  max-width: 250px;
  border-radius: 3px;
  border: 2px solid black;
}

.team-avatar.team-bets:hover {
  cursor: pointer;
  border-color: #d45500;
  box-shadow: 0 0 20px #ffbd6c;
}

.btn.betting-page {
  margin-top: 7%;
}

.btn.place-bet {
  width: 100%;
  bottom:0;
}

// items
.inv-list {
  width: 37%;
  max-width: 525px;
  height: 600px;
  overflow-y: scroll;
  border: 3px solid #303358;
  border-radius: 3px;
  background-color: rgba(58, 71, 106, .8);
}

.inv-list>label {
  display: block;
  background-color: #000123;
}

.inv-list.stash {
  float: left;
  margin-left: 10%;
}

.inv-list.item-db {
  margin-right: 10%;
  float: right;
  overflow: hidden;
}

.inv-list.new-bet {
  margin-right: 10%;
  float: right;
}

.inv-item {
  color: black;
  border-radius: 3px;
  border: 3px solid grey;
  background-color: lightgray;
  margin: 15px;
  width: 185px;
  height: 160px;
  float: left;
}

ul.item-list div.inv-item:hover {
  cursor: pointer;
  border: 5px solid darkgrey;
  border-style: inset;
  background-color: grey;
}

.item-image {
  height: 60px;
}

.gun-info {
  font-weight: bold;
}

.souvenir {
  background-color: yellow;
}

.stattrack {
  background-color: darkorange;
}

// inprogress match
.match-details {
  font-size: 20px;
}

.match-inprogress {
  color: white;
  margin-top: 4%;
}

.teams.team-inprogress {
  background-color: rgba(20, 20, 20, .8);
  padding: 20px;
  border-radius: 3px;
  border: 3px solid black;
}

.winner {
  font-size: 40px;
  font-weight: bold;
  height: 150px;
}

.winner>p{
  position: relative;
  top: 130px;
}

//bets
.recent-bets-list {
  margin-top: 1%;
  padding-bottom: 1%;
  background-color: rgba(0, 1, 35, .6);
  border: 3px solid #000123;
  border-radius: 3px;
}

.bets-label {
  padding-bottom: 1%;
}

.recent-bet {
  padding: 1%;
  background-color: rgba(0, 1, 35, 1);
  border: 3px solid black;
  border-color: #ffbd6c;
  box-shadow: 0 0 10px #ffbd6c;
}

.bet-show {
  position: relative;
  left: 10%;
  width: 81%;
  max-width: 1150px;
  height: auto;
  overflow-y: scroll;
  border: 3px solid #303358;
  border-radius: 3px;
  background-color: rgba(58, 71, 106, .8);
}
