body {
  // background: url('http://res.cloudinary.com/dqucbuno8/image/upload/e_brightness:30/v1447826196/Counter-Strike-Wallpaper-1920x1080-4_utq3oz.jpg') center top no-repeat #000000;
  background-color: #ccc;
  color: #666;
}

::-webkit-scrollbar {
    background-color: white;
    width:8px;
}

::-webkit-scrollbar-thumb {
    background-color: grey;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label {
  color: darkorange;
}

label.dark {
  color: #d45500;
}

.generic-bg {
  background-color: white;
  padding-bottom: 1%;
  margin-bottom: 1%;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  box-shadow: 2px 3px 1px 1px grey;
}

// navbar
nav.navbar {
  background-color: #3a476a;
  border: 0px solid black;
  border-radius: 0px;
}

nav.navbar-default .navbar-nav>li>a {
  color: white;
}

.nav-logo {
  margin-top: -8%;
  margin-left: 7%;
}

// landing page
.landing-content {
  min-height: 650px;
}

.next-match {
  margin-top: 1%;
  color: #d45500;
  width: 100%;
  background: url('http://res.cloudinary.com/dqucbuno8/image/upload/v1448660817/gSC7CN_bjr6bb.png') center top;
  border: 1px solid black;
}

.time-left {
  font-size: 75px;
  font-weight: bold;
  min-height: 85px;
}

.match-info {
  display: inline-block;
  font-size: 20px;
  margin-top: 1%;
}

.vs {
  font-size: 50px;
  font-weight: bold;
  margin-top: 1%;
}

.prize-pool {
  font-size: 35px;
}

// teams
.team-idx {
  padding-bottom: 2%;
  margin: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.teams {
  font-size: 25px;
  color: darkorange;
  margin-top: 2%;
  width: 450px;
}

.team-name {
  margin-top: -6%;
  width: 225px;
}

.team1 {
  float:left;
}

.team-name.team1 {
  float:right;
}

.team2 {
  float:right;
}

.team-name.team2 {
  float:left;
}

.team-avatar {
  max-width: 200px;
  border-radius: 3px;
  border: 2px solid #ccc;
}

.team-avatar.team-bets:hover {
  cursor: pointer;
  border-color: #d45500;
  box-shadow: 0 0 20px #ffbd6c;
}

// items
.inv-list {
  width: 46%;
  max-width: 525px;
  height: 600px;
  overflow-y: scroll;
  border: 3px solid #303358;
  border-radius: 3px;
  background-color: #f1f1f1;
}

.inv-list>label {
  display: block;
  background-color: #303358;
}

.inv-list.stash {
  float: left;
}

.inv-list.item-db {
  float: right;
  overflow: hidden;
}

.inv-list.new-bet {
  float: right;
}

.inv-item {
  color: black;
  border-radius: 3px;
  border: 1px solid grey;
  background-color: #fafafa;
  margin: 15px;
  width: 185px;
  height: 160px;
  float: left;
}

ul.item-list div.inv-item:hover {
  cursor: pointer;
  border: 3px solid darkgrey;
  border-style: inset;
  background-color: #ccc;
}

.item-image {
  height: 60px;
}

.gun-info {
  font-weight: bold;
}

.souvenir {
  background-color: yellow;
}

.stattrack {
  background-color: darkorange;
}

// inprogress match
.match-details {
  font-size: 20px;
  position: relative;
  z-index: 1000;
}

.match-inprogress {
  color: white;
  margin-top: 2%;
  background-color: darkblue;
  width: 100%;
  height: 650px;
}

.match-inprogress-img {
  background: url("http://res.cloudinary.com/dqucbuno8/image/upload/c_scale,h_650/v1448666824/KjPZARD_bcdzfe.jpg") top center no-repeat;
  height: inherit;
  width: 100%;
  position: absolute;
  opacity: .6;
  left: 0px;
}

.teams.team-inprogress {
  color: darkorange;
  background-color: rgba(25, 25, 25, .7);
  padding: 20px;
  border-radius: 3px;
  border: 3px solid black;
  position: relative;
  z-index: 10000;
  width: 275px;
  margin: 100px;
  font-weight: bold;
}

.winner {
  font-size: 40px;
  font-weight: bold;
  height: 150px;
  position: relative;
  z-index: 1000;
}

.winner>p{
  position: relative;
  top: 400px;
  z-index: 1000;
}

//bets
.btn.betting-page {
  margin-top: 55px;
}

.btn.place-bet {
  width: 100%;
  bottom:0;
}

.recent-bets-list {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 1%;
  min-height: 100px;
}

.bets-label {
  padding-bottom: 1%;
}

.recent-bet {
  padding: 1%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  background-color: #f1f1f1;
}

.bet-show {
  max-width: 1150px;
  overflow-y: auto;
  border: 3px solid #303358;
  border-radius: 3px;
  background-color: #f1f1f1;
}
