body {
  background-color: #F5F5F5;
  color: #666;
}

label {
  color: #FF8C00;
}

label.dark {
  color: #d45500;
}

.generic-bg {
  background-color: white;
  padding-bottom: 1%;
  margin-bottom: 1%;
  border-top: 1px solid #D3D3D3;
  border-left: 1px solid #D3D3D3;
  box-shadow: 2px 3px 1px 1px #808080;
}

// navbar
nav.navbar {
  background-color: #3a476a;
  border: 0px solid black;
  border-radius: 0px;
}

nav.navbar-default .navbar-nav>li>a,
nav.navbar-default .navbar-nav>li>a:focus {
  color: white;
}

.navbar-default .navbar-brand .nav-logo {
  background: url("http://res.cloudinary.com/dqucbuno8/image/upload/v1455258353/gotimelogo-nav_jqnumg.png") 0 0;
  width: 142px;
  height: 40px;
  margin-top: -9%;
  margin-left: 11%;
}

.navbar-default .navbar-brand .nav-logo:hover {
  background: url("http://res.cloudinary.com/dqucbuno8/image/upload/v1455258353/gotimelogo-nav_jqnumg.png") -142px 0;
}

.nav-logo {
  margin-top: -8%;
  margin-left: 7%;
}

nav.navbar-default .navbar-nav>li>a:hover {
  color: #FF8C00;
}

// landing page
.landing-content {
  min-height: 650px;
}

.next-match {
  position: relative;
  overflow-x: hidden;
  background-color: #00008B;
  margin-top: 1%;
  color: #d45500;
  width: 100%;
  border: 1px solid black;
  min-height: 150px;
}

.next-match-image {
  background: url('http://res.cloudinary.com/dqucbuno8/image/upload/c_scale,w_1920/v1448660817/gSC7CN_bjr6bb.png') top no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.7;
  left: 0px;
}

.next-match>h2 {
  position: relative;
  z-index: 10000;
  text-shadow: 1px 1px #000000;
}

.time-left {
  font-size: 75px;
  font-weight: bold;
  min-height: 85px;
  position: relative;
  z-index: 10000;
}

.match-info {
  display: inline-block;
  font-size: 20px;
  margin-top: 1%;
}

.vs {
  font-size: 50px;
  font-weight: bold;
  margin-top: 1%;
}

.prize-pool {
  font-size: 35px;
}

// teams
.team-idx {
  padding-bottom: 2%;
  margin: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.teams {
  font-size: 25px;
  color: #FF8C00;
  margin-top: 2%;
  width: 450px;
}

.team-name {
  margin-top: -6%;
  width: 225px;
}

.team1 {
  float:left;
}

.team-name.team1 {
  float:right;
}

.team2 {
  float:right;
}

.team-name.team2 {
  float:left;
}

.team-avatar {
  max-width: 200px;
  border-radius: 3px;
  border: 2px solid #ccc;
}

.team-avatar.team-bets:hover {
  cursor: pointer;
  border-color: #d45500;
  box-shadow: 0 0 20px #ffbd6c;
}

// items
.inv-list {
  width: 46%;
  max-width: 525px;
  height: 600px;
  overflow-y: scroll;
  border: 3px solid #303358;
  border-radius: 3px;
  background-color: #f1f1f1;
}

.inv-list>label {
  display: block;
  background-color: #303358;
}

.inv-list.stash {
  float: left;
}

.inv-list.item-db {
  float: right;
  overflow: hidden;
}

.inv-list.new-bet {
  float: right;
}

.inv-item {
  color: black;
  border-radius: 3px;
  border: 1px solid #808080;
  background-color: #fafafa;
  margin: 15px;
  width: 185px;
  height: 160px;
  float: left;
}

ul.item-list div.inv-item:hover {
  cursor: pointer;
  border: 3px solid #A9A9A9;
  border-style: inset;
  background-color: #ccc;
}

.item-image {
  height: 60px;
}

.gun-info {
  font-weight: bold;
}

.souvenir {
  background-color: yellow;
}

.stattrack {
  background-color: #FF8C00;
}

// inprogress match
.match-details {
  font-size: 20px;
  position: relative;
  z-index: 1000;
  text-shadow: 2px 2px #000000;
}

.match-inprogress {
  color: white;
  margin-top: 2%;
  background-color: #00008B;
  width: 100%;
  height: 650px;
  text-shadow: 2px 2px #000000;
}

.match-inprogress-img {
  background: url("http://res.cloudinary.com/dqucbuno8/image/upload/c_scale,h_650/v1448666824/KjPZARD_bcdzfe.jpg") top center no-repeat;
  height: inherit;
  width: 100%;
  position: absolute;
  opacity: .7;
  left: 0px;
}

.teams.team-inprogress {
  color: #FF8C00;
  background-color: rgba(255, 255, 255, .7);
  padding: 20px;
  border-radius: 3px;
  border: 3px solid black;
  position: relative;
  z-index: 10000;
  width: 275px;
  margin: 100px;
  font-weight: bold;
  text-shadow: 1px 1px #000000;
}

.winner {
  font-size: 40px;
  font-weight: bold;
  height: 150px;
  position: relative;
  z-index: 1000;
}

.winner>p{
  position: relative;
  top: 400px;
  z-index: 1000;
}

//bets
.btn.betting-page {
  margin-top: 55px;
}

.btn.place-bet {
  width: 100%;
  bottom:0;
}

.recent-bets-list {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 1%;
  min-height: 100px;
}

.bets-label {
  padding-bottom: 1%;
}

.recent-bet {
  padding: 1%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  background-color: #f1f1f1;
}

.bet-show {
  max-width: 1150px;
  overflow-y: auto;
  border: 3px solid #303358;
  border-radius: 3px;
  background-color: #f1f1f1;
}
