<div class="about-site">

  <div class="login-span">
    <div class="login-image"></div>

    <img class="login-logo"
      src="https://res.cloudinary.com/dqucbuno8/image/upload/c_scale,w_600/v1447971321/gotimelogo-white_a3jbwm.png"
      />
  </div>

  <p class='tag'>
    Bet. Watch. Win.
  </p>

  <div class="site-info container">

    <div class="left-info">
      <div>
       <b>CS:GO Time</b> lets you win big watching <b>Counter
        Strike: Global Offensive</b> matches
      </div>
      <br>
        Got skins to spare, or just
        enjoy a fun and friendly wager? Bet and win in our nighty matches.
        One match a day guarantees the biggest pools and the rarest skins. Why
        not <a href="../users/new">sign up today!</a>
    </div>

    <div class="right-info">
      <ul>
        <li>Hundreds of dollars in skins up for grabs every night</li>
        <li>New match starts at 8:00pm PST everyday</li>
        <li>Watch live updates as the match happens</li>
        <li>Withdraw any and all skins you win</li>
      </ul>
    </div>

  </div>
</div>
