<div class="about-site">
  <div class="login-span">
    <img class="login-image" src="http://res.cloudinary.com/dqucbuno8/image/upload/v1447971559/CSGOlogin_k2po4f.jpg"/>
    <img class="login-logo" src="http://res.cloudinary.com/dqucbuno8/image/upload/c_scale,w_600/v1447971321/gotimelogo-white_a3jbwm.png"/>
  </div>
  <p class='tag'>
    Bet. Watch. Win.
  </p>
  <div class="site-info">
    <div class="left-info">
      
    </div>

    <div class="right-info">

    </div>
  </div>
</div>
