<div class="center-text container">

  <h3>
    Hello {{model.user.username}}
  </h3>

  <p>
    Simply click on an item to add/remove it from your stash.
  </p>


  {{outlet "stash"}}

  {{outlet "new-items"}}
</div>
