<div class="center-text container generic-bg">

  <h3>
    Hello <label>{{model.user.username}}</label>
  </h3>

  <p>
    Simply click on an item to add/remove it from your stash.
  </p>


  {{outlet "stash"}}

  {{outlet "new-items"}}
</div>
