<div class="center-text">

  <h3>Place your bet on {{model.name}}
  </h3>
  <p>
    Minimum bet is $10.
    <br>
    Bet can have no more than 10 items.
  </p>
</div>

{{outlet "stash"}}

{{outlet "new-bet"}}
