<div class="inv-list new-bet center-text">
  <label>Your Bet</label>

  <button class="btn btn-warning place-bet" disabled {{action "submitBet"}}>
    Place your Bet
  </button>

  <ul class="newbet item-list"></ul>

</div>
