<div class="inv-list new-bet center-text">
  <label>Your Bet</label>
  <ul class="newbet"></ul>
</div>

<button class="btn btn-success place-bet" {{action "submitBet"}}>
  Place Bet
</button>

{{log model.errors.totalValue}}
{{#each model.errors.totalValue as |error|}}
  <div class="error">
    {{error.message}}
  </div>
{{/each}}
