<div class="inv-list item-db center-text">
  <label>Item Database</label>

    <ul class="item-list">
      {{#each model as |item|}}
        {{item-generator action="generateItem" item=item}}
      {{/each}}
    </ul>
</div>
