<div class="splash-content center-text">
  <h2 class="next-match">GO time starts in:
    <br>
    <p class="time-left">
      {{timeLeft}}
    </p>
  </h2>

  {{outlet}}
  <br>
<div class="team-idx">
  {{outlet 'teams'}}
</div>

<p class="center-text match-info">
  Total Pool Value:
  <br>
  ${{model.prizePool}}
  <p class="vs">
    VS
  </p>
  Match starts at:
  <br>
  8:00pm PST
</p>

</div>
